{
  "prioritizedcontentfiles": [
    
  ], 
  "excludecontentfiles": [
     "Detections/Sample/PaloAlto-PortScanning.json",
     "parsers/Sample/ASimAuthenticationAWSCloudTrail.json",
     "workbooks/sample/TrendMicroDeepSecurityAttackActivity_ARM.json",
     "Playbooks/PaloAlto-PAN-OS/PaloAltoCustomConnector/azuredeploy.json"
     "parameters"
  ],
  "parameterfilemappings": {
    
  },
  "DummySection": "This shouldn't impact deployment"
}